
.frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.frame {
    border: 2px solid white;
    width: 90%;
    border-radius: 1rem;
}

.tables {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    z-index: 1;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow-y: scroll;
    padding-top: 260rem;
}

.table-name {
    color: white;
}

.frame-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-btn {
    border: none;
    background-color: transparent;
    color: white;
    align-self: flex-end;
    margin: 1rem 1rem;
    padding: 0;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
}